<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Politicker</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/shop-item.css" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="http://www.thepoliticker.ca">The Politicker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

      <div class="col-lg-9">
        <div class="card mt-4">

          {% if my_form_status=='speaker_only' or my_form_status == 'complete'%}
            <p style="text-align:center;padding-top: 1rem;"><img vertical-alignment=middle width=25% src={{pic_url}} alt=""></p><!--"../static/img/Trudeau.jpg"-->
          {% else %}
          {% endif %}

          <div class="card-body" id="summary-section">
            <form action='/process_speaker' method="GET" id="input_form">
              <input list="potential_speakers" type="text" id="speaker_input" name="speaker_input" placeholder="Enter name of MP">
                <datalist id="potential_speakers">
                </datalist>
            </form>

            {% if my_form_status=='speaker_only' or my_form_status == 'complete'%}
              {{speaker_input}}
            {% endif %}

            <form action="/output" method="GET" id="input_form">
              <input list="potential_topics" type="text" id="topic_input" name="topic_input" placeholder="Enter a topic">
                <datalist id="potential_topics">
                </datalist>
            </form>

            {% if my_form_status=='complete' %}
              {{topic_input}}
              <br> <br>
              <h3 class="card-title">Summary</h3>
              <p class="card-text"> {{textrank_summary}} </p>
              <h4></h4>
            {% endif %}

          </div>
        </div>
        <!-- /.card -->

        {% if my_form_status=='complete' %}
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Original speeches
            </div>
            <div class="card-body" id="speech-card">
              <!--<a href="#" class="btn btn-success">Leave a Review</a>-->
            </div>
          </div>
        {% endif %}
        <!-- /.card -->
      </div>
        <!-- /.col-lg-9 -->
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; The Politicker 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
    var possible_speakers = {{possible_speakers|tojson}}
      $.each(possible_speakers, function(i, item) {
      $("#potential_speakers").append($("<option>").attr('value', item));
    });
  </script>

  {% if my_form_status=='speaker_only' %}
    <script>
      var possible_topics = {{possible_topics|tojson}}
      $.each(possible_topics, function(i, item) {
      $("#potential_topics").append($("<option>").attr('value', item));
      });
    </script>
  {% endif %}

  {% if my_form_status=='complete' %}
    <script>
      console.log({{original_passages|tojson}})
      var originals_passages = {{original_passages|tojson}}
      var speechCard =document.getElementById("speech-card")

      var span = document.createElement('span')
      span.class = "text-warning"
      span.innerHTML = "&#9733; &#9733; &#9733; &#9733; &#9734;"
      document.getElementById('summary-section').appendChild(span)

      for (let i=0; i<originals_passages.length; i++) {
        var p = document.createElement('p');
        var hr = document.createElement('hr');
        var smallText = document.createElement('small')

        p.innerHTML = originals_passages[i]
        smallText.class = "text-muted"
        smallText.innerHTML = "Spoken on 3/1/17"

        document.getElementById('speech-card').appendChild(p);
        document.getElementById('speech-card').appendChild(smallText);
        document.getElementById('speech-card').appendChild(hr);
      }
    </script>
  {% else %}
  {% endif %}
</body>
</html>
